@model IEnumerable<BeSpoked.Bikes.WebApp.Models.DTO.CommisionReport>

@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.salePersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionAmout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.salePersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommissionAmout) $
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
